{% extends "layout-navs.html" %}
 {% block navs %}
 	<h1><b><em><strong>Asia: Physical Geography</em></h1>
	<h2 id="1">Asia</h2>
	
	<img src="{{url_for('static',filename='map.png')}}" alt="Map Of Asia" class="ab">
	
	<p1>
		<img src="{{url_for('static',filename='4.png')}}" alt="Environmental Beauty" style="float:right;width:200px;height:200px;">Asia  is the  Earth's largest and most populous continent, located primarily in the Eastern and Northern Hemispheres. It shares the continental landmass of Eurasia with the continent of Europe, and the continental landmass of Afro-Eurasia with Africa and Europe. Asia covers an area of 44,579,000 square kilometres (17,212,000 sq mi), about 30% of Earth's total land area and 8.7% of the Earth's total surface area. The continent, which has long been home to the majority of the human population,[8] was the site of many of the first civilizations. Its 4.7 billion people[9] constitutes roughly 60% of the world's population.[10]
        <br><br>
		In general terms, Asia is bounded on the east by the Pacific Ocean, on the south by the Indian Ocean, and on the north by the Arctic Ocean. The border of Asia with Europe is a historical and cultural construct, as there is no clear physical and geographical separation between them. It is somewhat arbitrary and has moved since its first conception in classical antiquity. The division of Eurasia into two continents reflects East–West cultural, linguistic, and ethnic differences, some of which vary on a spectrum rather than with a sharp dividing line. A commonly accepted division places Asia to the east of the Suez Canal separating it from Africa; and to the east of the Turkish Straits, the Ural Mountains and Ural River, and to the south of the Caucasus Mountains and the Caspian and Black Seas, separating it from Europe.[11]
		<br><br>
		
	</p1>
	<<h2 id="2">Boundaries of Asia </h2>
	<br>
	<div class=center>(1)Asia-Africa boundary
		<br>(2)Asia-Europe boundary
		<br>(3)Asia-Oceania boundary
		<br>
	</div>
	<h3 class="h31" id="3">Asia-Africa boundary</h3>
	<p1>
		The boundary between Asia and Africa is the Red Sea, the Gulf of Suez, and the Suez Canal.[17] This makes Egypt a transcontinental country, with the Sinai peninsula in Asia and the remainder of the country in Africa.</p1>
	<br>
	<br>
	<h3 class="h32" id="4">Asia-Europe boundary</h3>
	<p1>
		<img src="{{url_for('static',filename='europe.png')}}" alt="Environmental Beauty" style="float:right;width:300px;height:450px;border: 5px solid #555;">The threefold division of the Old World into Europe, Asia and Africa has been in use since the 6th century BC, due to Greek geographers such as Anaximander and Hecataeus.[citation needed] Anaximander placed the boundary between Asia and Europe along the Phasis River (the modern Rioni river) in Georgia of Caucasus (from its mouth by Poti on the Black Sea coast, through the Surami Pass and along the Kura River to the Caspian Sea), a convention still followed by Herodotus in the 5th century BC.[18] During the Hellenistic period,[19] this convention was revised, and the boundary between Europe and Asia was now considered to be the Tanais (the modern Don River). This is the convention used by Roman era authors such as Posidonius,[20] Strabo[21] and Ptolemy.[22]
        <br><br>
		he border between Asia and Europe was historically defined by European academics.[23] The Don River became unsatisfactory to northern Europeans when Peter the Great, king of the Tsardom of Russia, defeating rival claims of Sweden and the Ottoman Empire to the eastern lands, and armed resistance by the tribes of Siberia, synthesized a new Russian Empire extending to the Ural Mountains and beyond, founded in 1721. The major geographical theorist of the empire was a former Swedish prisoner-of-war, taken at the Battle of Poltava in 1709 and assigned to Tobolsk, where he associated with Peter's Siberian official, Vasily Tatishchev, and was allowed freedom to conduct geographical and anthropological studies in preparation for a future book.[citation needed]
		<br><br>
		In Sweden, five years after Peter's death, in 1730 Philip Johan von Strahlenberg published a new atlas proposing the Ural Mountains as the border of Asia. Tatishchev announced that he had proposed the idea to von Strahlenberg. The latter had suggested the Emba River as the lower boundary. Over the next century various proposals were made until the Ural River prevailed in the mid-19th century. The border had been moved perforce from the Black Sea to the Caspian Sea into which the Ural River projects.[24] The border between the Black Sea and the Caspian is usually placed along the crest of the Caucasus Mountains, although it is sometimes placed further north.[23]</p1>
	<br>
	<br>
	<h3 class="h33" id="5">Asia-Oceania boundary</h3>
	<p1>
		The border between Asia and the region of Oceania is usually placed somewhere in the Malay Archipelago. The Maluku Islands in Indonesia are often considered to lie on the border of southeast Asia, with New Guinea, to the east of the islands, being wholly part of Oceania. The terms Southeast Asia and Oceania, devised in the 19th century, have had several vastly different geographic meanings since their inception. The chief factor in determining which islands of the Malay Archipelago are Asian has been the location of the colonial possessions of the various empires there (not all European). Lewis and Wigen assert, "The narrowing of 'Southeast Asia' to its present boundaries was thus a gradual process."[25]
		<br>
		<br>
	</p1>
	
	
	<h3 class ='h31'>Click any physical feature on the picture to learn about it</h3>

		<iframe src="{{url_for('static',filename='map.html')}}"  style='height:calc(100vh - 4px);
		width:calc(100vw - 4px);display:block;
		'></iframe>
	
 {% endblock navs %}

