{% extends "layout-navs.html" %}
	{% block navs%}
	<title>Lakes</title>
	<div class="header">
		<h1 >Lakes</h1>
	</div>
	<div class="content">
		<p1>A lake (from Latin lacus) is a large body of water (larger and deeper than a pond) within a body of land. As a lake is separated from the ocean, it is not a sea. Some lakes are very big, and people in the past sometimes called them seas. Lakes do not flow like rivers, but many have rivers flowing into and out of them.</p1>
		
		<br>
		<p1>Most lakes on the surface of the Earth are fresh water and most are in the Northern Hemisphere. More than 60% of the lakes of the world are in Canada. Finland is known as The Land of the Thousand Lakes (there are 187,888 lakes in Finland, of which 60,000 are large).[1]</p1>
		<br>
		
		<p1>Many lakes are man-made reservoirs built to produce electricity, for recreation, or to use the water for irrigation or industry, or in houses.</p1>	<br><br><p1>If there are not rivers flowing out of the lake (see Endorheic basin), or they are few and small, the lake loses water only by evaporation or because the water flows through the soil pores. Where the water evaporates rapidly and the soil around the lake has a high salt level, as in very dry places, the water of the lake has a high concentration of salt and the lake is called a salt lake. Examples of salt lakes are the Great Salt Lake, the Caspian Sea, the Aral Sea, and the Dead Sea.<br><br><a href="{{url_for('volcanos')}}"></p1>ss<button class="next" ><b>Next</b></button></a>
	</div>
	{% endblock navs %}