{% extends "layout-navs.html" %}
	{% block navs%}
	<title>Waterfalls</title>
	<div class="header">
		<h1 >Waterfalls</h1>
	</div>
	<div class="content">
		<p1>A waterfall is a point in a river or stream where water flows over a vertical drop or a series of steep drops. Waterfalls also occur where meltwater drops over the edge of a tabular iceberg or ice shelf.

Waterfalls can be formed in several ways, but the most common and popularly accepted method of formation is that a river courses over a top layer of resistant bedrock before falling on to softer rock, which erodes faster, leading to an increasingly high fall. Waterfalls have been studied for their impact on species living in and around them.</p1>
		<br>
		<br>

		<p1>Humans have had a distinct relationship with waterfalls for years, travelling to see them, exploring and naming them. They can present formidable barriers to navigation along rivers. Waterfalls are religious sites in many cultures. Since the 18th century they have received increased attention as tourist destinations, sources of hydropower, and—particularly since the mid-20th century—as subjects of research.</p1>
		<br><br>
		<h2>Definition and terminology</h2>
		<br><br>
		<p1>A waterfall is generally defined as a point in a river where water flows over a steep drop that is close to or directly vertical. In 2000 Mabin specified that "The horizontal distance between the positions of the lip and plunge pool should be no more than c 25% of the waterfall height." There are various types and methods to classify waterfalls.[1] Some scholars have included rapids as a subsection.[2] What actually constitutes a waterfall continues to be debated.[3]

Waterfalls are sometimes interchangeably referred to as "cascades" and "cataracts", though some sources specify a cataract as being a larger and more powerful waterfall[1][4][5] and a cascade as being smaller.[6] A plunge pool is a type of stream pool formed at the bottom of a waterfall.</p1>
		<br><br>
		<h2>Formation</h2>
		<br><br>
		<p1>Waterfalls are commonly formed in the upper course of a river where lakes flow into valleys in steep mountains.[8]

A river sometimes flows over a large step in the rocks that may have been formed by a fault line. Waterfalls can occur along the edge of a glacial trough, where a stream or river flowing into a glacier continues to flow into a valley after the glacier has receded or melted. The large waterfalls in Yosemite Valley are examples of this phenomenon, which is referred to as a hanging valley. Another reason hanging valleys may form is where two rivers join and one is flowing faster than the other.[8]

When warm and cold water meet by a gorge in the ocean, large underwater waterfalls can form as the cold water rushes to the bottom</p1>
		<br><br>
		=<a href="{{url_for('lakes')}}"><button class="next" ><b>Next</b></button></a>
	</div>
	{% endblock navs %}
